body {
    font-family: Arial, sans-serif; 
    font-size: 14pt; 
    background-color: #a198a1; 
    color: #333;
  }
  h1 {
    color: #1f1c99;
    font-size: 24pt;
    font-family: Georgia, serif; 
    font-weight: normal;
  }